#navBarBox {
  /*Box for navigation bar*/
  position: absolute;
  width: 1440px;
  height: 64px;
  left: 0px;
  top: 0px;
  background-color: #fff3f3;
}

#logo {
  /*container for logo in navigation bar*/
  width: 62px;
  height: 64px;
  left: 0px;
  top: 0px;
  background: url(./images/Potential_Logo\ 2.jpg);
  background-repeat: no-repeat;
}

.navLinks {
  /*Navigation links style*/
  font-family: Caveat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

a:link {
  text-decoration: none;
}

#liAdoptACat {
  /*Anchor link for Adopt A Cat */
  position: absolute;
  width: 106px; /*103px was forcing the text to be wrapped so increased to 106px*/
  height: 30px;
  left: 949px;
  top: 18px;
}

#liAboutUs {
  /*Anchor link for About Us */
  position: absolute;
  width: 74px;
  height: 30px;
  left: 1140px;
  top: 18px;
}

#liContactUs {
  /*Anchor link for Contact Us */
  position: absolute;
  width: 91px;
  height: 30px;
  left: 1302px;
  top: 18px;
}
body,
html {
  margin: 0px;
  padding: 0px;
  background-color: white;
}
.container {
  height: 500px;
  width: 100%;
  min-width: 50%;
  margin: auto;
}
@media screen and (min-width: 1280px) {
  #headerCatImg {
    position: absolute;
    width: 450px;
    height: 450px;
    right: 138px;
    top: 157px;
    max-width: 100%;
    display: block;

    mix-blend-mode: normal;
    border-radius: 50%;
  }
  .headerLefBox {
    position: absolute;
    width: 658px;
    height: 437px;
    left: 130px;
    top: 138px;
    background: #ffffff;
    border: lightpink;
  }
  #descText {
    font-family: "Montserrat";
    position: absolute;
    width: 600px;
    height: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    top: 112px;
  }
  #adoptBtn {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 113px;

    /*Positioning*/
    position: absolute;
    width: 345px;
    height: 50px;
    left: 156px;
    top: 272px;

    /*Look*/
    background: #fff3f3;
    border: 1px solid #fc46aa;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: "Caveat";
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  #headerCatImg {
    position: absolute;
    width: 250px;
    height: 250px;
    right: 138px;
    top: 157px;
    max-width: 100%;
    display: block;

    mix-blend-mode: normal;
    border-radius: 50%;
  }
  .headerLefBox {
    position: absolute;
    width: 400px;
    height: 337px;
    left: 90px;
    top: 138px;
    background: #ffffff;
    border: lightpink;
  }
  #descText {
    font-family: "Montserrat";
    position: absolute;
    width: 300px;
    height: 105px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15.5px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    top: 112px;
  }
  #adoptBtn {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 120px;
    padding-left: 40px;

    /*Positioning*/
    position: absolute;
    width: 50px;
    height: 25px;
    left: 45px;
    top: 200px;

    /*Look*/
    background: #fff3f3;
    border: 1px solid #fc46aa;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: "Caveat";
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
