
.float-container {
    width: 100%;
}

.float-child-left {
    width: 50%;
    float: left;
    padding: 0px;
    border: 1px solid black;
}

#form-layout {
    margin: 20px;
    padding: 20px;
}

input {
    width: 50%;
    height: 20px;
    border-radius: 10px;
}

textarea {
    max-width: 95%;
}

.float-child-right {
    width: 50%;
    height: 400px;
    margin-left: 50%;
    padding: 10px;
    border: 1px solid black;
}
#map {
    height: 100%; 
    width: 98.5%; 
    margin-left: auto; 
    margin-right:auto;
}

.contact-us-h1 {
text-align: center;
font-family: 'Caveat';
font-style: italic;
font-weight: bold;
}

#submit-button {
    background-color: palevioletred;
    font-style: italic;
    width: 150px;
}